*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.container header {
    background-image: url(../images/header_einstein.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    display: block;
    padding: 20% 30%;
    background-color: #000;
    background-position: right;
}

header h2,
header h3,
.col1 h3 {
    background-color: rgba(233, 233, 233, 0.7);
    padding: 5px 10px;
    text-align: center;
}

.phrase {
    background-color: #ccc;
    margin: 20px 0;
    display: block;
    padding: 10px;
}

.phrase p {
    font-size: 22px;
    font-weight: bold;
}

.phrase p span {
    font-size: 16px;
    font-style: italic;
}

.col1,
.col2 {
    float: left;
    padding: 5px;
}

.clear {
    clear: both;
}


/*Timeline*/

.col1 {
    width: 60%;
}

.timelines .item {
    border-bottom: 1px solid #ccc;
}

.timelines .item:hover {
    background-color: #f8f8f8;
}

.item .date,
.item .desc {
    float: left;
    display: block;
    padding-bottom: 10px;
}

.item .date {
    width: 35%;
}

.item .desc {
    width: 65%;
}


/*nutshell*/

.col2 {
    width: 35%;
    text-align: center;
}

img {
    width: 150px;
    border: 2px solid #333;
    border-radius: 10px;
}

.col2 table tr:hover {
    background-color: #f8f8f8;
}

.col2 table tr td:first-child {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 5px;
    font-size: 12px;
}

.col2 table tr td:last-child {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}