    body {
        font-family: 'Quicksand';
        background-color: #FED;
        color: #773;
        background-image: url('../images/background.jpg');
        background-size: 50%;
    }
    
    h2,
    h1 {
        /*font-family: Arial, Helvetica, sans-serif;*/
        display: inline-block;
        background-color: blanchedalmond;
        width: 400px;
        text-align: center;
    }
    
    .boxes {
        background-color: burlywood;
        width: 660px;
    }
    
    .boxes div {
        height: 200px;
        width: 200px;
        display: inline-block;
        line-height: 200px;
        text-align: center;
        border: 2px dashed #3a77b1;
        margin: 10px 0 10px 10px;
    }
    
    .boxes div span {
        font-weight: bold;
        text-transform: uppercase;
        opacity: 0;
    }
    
    .boxes div:hover {
        background: #c9e0e7;
    }
    
    .boxes div:hover span {
        opacity: 1;
    }
    
    .box1 {
        background: #dacbbc;
    }
    
    .box2 {
        background: #c8caba;
    }